div{
    background-color:rgb(82,127,216);
    display: flex;
    justify-content: left;
}
li{
    display: inline-flex;
    align-content: center;
}
img{
    display: inline-block;
    padding: 10px;
    height: 60px;
}
a,h1{
    color:white;
    font: montserrat;
    display: inline-block;
    align-content: center;
    text-decoration-line: none;
}
.center-box{
    background-color: darkblue;

}